@model test.Models.LignePanier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LignePanier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanierID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProduitID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProduitID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LignePanierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
